.container {
  display: grid;
  gap: 20px;
  padding: 20px;
  z-index: 0;
}

.onGameOver {
  pointer-events: none;
  opacity: 10%;
}

.card {
  border: 5px solid var(--color-primary);
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: var(--shadow-on-white);
  transform: scale(1);
}

.card:hover {
  box-shadow: none;
}

.card:active {
  box-shadow: none;
  animation: click-card 0.3s;
}

@keyframes click-card {
  from {
    transform: scale(1);
  }
  25% {
    transform: scale(0.95);
  }

  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}
.card img {
  padding: 10px;
  width: 100%;

  background-color: var(--color-tertiary);
  border-radius: 10px;
  justify-self: center;
}

.card p {
  color: var(--color-secondary);
  font-weight: 600;
  text-align: center;
}

.loadingBtn {
  background-color: rgb(231, 176, 72);
  border: none;
  color: white;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 15px;
  position: absolute;
  font-weight: 700;
  top: 50vh;
  left: 50vw;
  transition: transform 0.3s ease-out;
}

.showLoadingBtn {
  transform: translate(-50%, -50%) scale(1);
}

.hideLoadingBtn {
  transform: translate(-50%, -50%) scale(0);
}
